.card {
  border-radius: $border-radius;
  overflow: hidden;
  box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.1);
  height: calc(100% - #{rem(48px)});
  margin: rem(24px) rem(24px) rem(48px);
  &__image {
    background: no-repeat center/cover;
    padding-top: 9 / 16 * 100%;
  }
  &__content {
    padding: 0 rem(8px);
  }
}
